/* src/App.css */
html,
body {
  height: 100%;
  text-align: left; /* 確保文字靠左 */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 15px;
  margin: auto;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

img {
  object-fit: contain;
  max-width: 100%;
}
